*{
    font-family: "serif", Times,serif;

}
body {
    background-color: powderblue;
    background-image: url("pap.jpg");
    background-size: cover;
    
}
a:hover {
    background-color: yellow;
}



h1 {
    text-align: center;
}
p {
    text-align: center;
}
ul.a {
    list-style-type: square;
    list-style-position:inside;
    font-size: 18px;

}
ul.b {
    list-style-type: disc;
    list-style-position:inside;
    font-size: 18px;

}
li.num {
    list-style-type: decimal;
    

}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

table, tr, td, th {
	width: 45%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}
tr.even {
	background: darkkhaki;
}
 
tr.odd {
	background: cornsilk;
}
tr.white {
	background: orange;
}
tr.blue {
	background: mistyrose;
}
tr.green {
	background: darksalmon;
}
tr.lemon {
    background: aquamarine;
}
tr.wood {
    background: darkgray;
}